# Build output
site/

# Dependencies
node_modules/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Lock files
uv.lock

# Caches
.cache/
.rag/

# Credentials
gha-creds-*.json
.env

# Notebook checkpoints
.ipynb_checkpoints/

# Internal files
internal*

# Gemini files
.gemini/
GEMINI.md*

# Temporary: Project Mgmt
docs/blog/ProjectMgmt/

# Github Workflow
.github/workflows