black==26.1.0
google-genai==1.60.0
mdformat==1.0.0
mdformat-black==0.1.1
mdformat-config==0.2.1
mdformat-shfmt==0.2.0
mkdocs-material==9.7.1
mkdocs-mermaid2-plugin==1.2.3
PyYAML==6.0.3
streamlit==1.53.1